.input {
  border-radius: 4px;
  border: 1px solid var(--gray-500);
  position: relative;
  width: 100%;

  label {
    color: var(--gray-300);
    display: block;
    font-weight: 400;
    left: 1rem;
    position: absolute;
    top: 50%;
    transform-origin: 0% 100%;
    transform: translateY(-50%);
    transition: transform 0.2s ease-out, color 0.2s ease-out;
    z-index: -1;
  }

  &__label {
    label {
      transform: translateY(-29px) scale(0.75);
    }
  }

  &__active {
    background-color: red;
  }

  input {
    background-color: transparent;
    border: none;
    font-weight: 400;
    min-height: 56px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    width: 100%;

    &:focus {
      outline: 0;

      & + label {
        transform: translateY(-29px) scale(0.75);
      }
    }

    &:valid ~ label {
      transform: translateY(-29px) scale(0.75);
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      background-clip: text;
    }
  }

  &:hover {
    border-color: var(--black);
  }

  &__icon {
    color: var(--red);
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
