@import "vars";

.checkbox {
  position: relative;
  flex-shrink: 0;
  margin-right: 10px;
  width: 20px;

  &__mark {
    background-color: var(--white);
    border-radius: 4px;
    border: 1px solid var(--gray-500);
    cursor: pointer;
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
    width: 20px;

    &::before {
      align-items: center;
      background-color: var(--green);
      border-radius: 4px;
      color: var(--white);
      content: none;
      display: flex;
      font-family: $font-icon;
      font-size: 0.6rem;
      height: calc(100% + 2px);
      justify-content: center;
      left: -1px;
      position: absolute;
      top: -1px;
      transition: all 0.3s ease;
      width: calc(100% + 2px);
    }
  }

  input {
    display: none;

    &:checked {
      ~ .checkbox__mark {
        &::before {
          content: "\e901";
        }
      }
    }
  }
}
