.plans {
  display: flex;
  margin-bottom: 1.25rem;
  margin-left: -32px;
  margin-right: -32px;
  margin-top: 3rem;
  overflow: auto;
  padding-left: calc(32px - 0.5rem);
  padding-right: calc(32px - 0.5rem);

  @media (min-width: 576px) {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    overflow: visible;
    padding-left: 0;
    padding-right: 0;
  }
}
