@import "vars";

.step {
  align-items: center;
  color: var(--gray-300);
  display: flex;
  letter-spacing: 0.6px;
  margin-bottom: 1rem;
  text-transform: uppercase;

  @media (min-width: 576px) {
    margin-bottom: 2rem;
    margin-left: -30px;
  }

  &__text {
    font-size: 12px;
    font-weight: 400;
    margin-right: 0.35rem;
  }

  &__number {
    color: var(--red);
    margin-right: 0.35rem;
  }

  &__icon {
    color: var(--red);
    cursor: pointer;
    font-size: 24px;
    margin-right: 7px;
  }

  &__name {
    display: none;

    @media (min-width: 576px) {
      display: inline-block;
    }
  }
}
