.heading {
  background-color: var(--gray-800);
  margin-left: -32px;
  margin-right: -32px;
  padding: 32px;

  @media (min-width: 576px) {
    background-color: transparent;
    margin: 0;
    padding: 0;
  }

  &__title {
    margin-top: 2rem;
    margin-bottom: 0.25rem;
    font-size: 32px;

    @media (min-width: 576px) {
      font-size: 40px;
    }

    &--small {
      font-size: 28px;
    }

    &--bold {
      color: var(--red);
      font-weight: normal;
    }
  }
}
