.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 0.25rem;
  margin-top: 0;
}

.h1,
h1 {
  font-size: 32px;
  margin-bottom: 1rem;
  margin-top: 4rem;

  @media (min-width: 576px) {
    font-size: 48px;
    line-height: 60px;
  }
}

.h2,
h2 {
  font-size: 32px;

  @media (min-width: 576px) {
    font-size: 40px;
  }
}

.h3,
h3 {
  font-size: 24px;

  @media (min-width: 576px) {
    font-size: 28px;
  }
}

.h4,
h4 {
  margin-bottom: 1rem;
  font-size: 20px;
}

.h5,
h5 {
  margin-bottom: 1rem;
  font-size: 16px;
}
